@keyframes modal-open-animation {
    from { filter: opacity(0%); }
    to { filter: opacity(100%); }
}

.modal {
    position: fixed;
    background-color: rgba(30,30,30,0.6);
    top: 0px;
    left: 0px;

    filter: opacity(100%) !important;

    z-index: 2000;

    height: 100vh;
    width: 100vw;

    justify-content: center;
    align-items: center;


}

.modal-content {
    padding: 1rem;

    background-color: #FFF;

    max-height: calc( 100vh - 4rem );
    width: calc( 100vw - 4rem );

    border-radius: 6px;

    overflow-y: auto;

    -webkit-box-shadow: 0px 0px 32px 9px rgba(0,0,0,0.2); 
    box-shadow: 0px 0px 32px 9px rgba(0,0,0,0.2);

    animation-name: modal-open-animation;
    animation-duration: 0.3s;

}

.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.5rem;
}
.modal-header > h3 {
    margin: 0px;
}


.location-banner-img {
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}



.modal--location {

    height: calc( 100vh - 2rem );
    width: calc( 100vw - 2rem );
    padding: 0rem !important;
}
