.preferences {
    position: absolute;
    top: max(8%, 5rem);

    left: 2.5%;
    z-index: 2000;

    display: flex;
    flex-wrap: wrap;
}

.preference {
    display: none;
}

.pref-applied {
    display: inline !important;
    background-color: indianred;
    color: white;

    margin-left: 0.5rem;

    border-radius: 6px;
}
.pref-applied > span:last-child { 
    display: none;
}
.pref-applied:hover > span:last-child {
    display: inline;
}

.preference-modal-button-container button {
   margin-right: 0.5rem; 
   margin-top: 1rem; 
}
