html, body {
    margin: 0;
    padding: 0;
}

@keyframes ghost-loading-animation {
    0% { background-color: #f8f8f8; }
    75% { background-color: #e5e5e5; }
    100% { background-color: #f8f8f8; }
}

.ghost-loading {
    width: 100%;
    min-height: 1rem;
    background-color: #f8f8f8;
    animation-name: ghost-loading-animation;
    animation-duration: 1s;
    animation-iteration-count: infinite;

    border-radius: 6px;
}

.bottom-right-buttons {
    width: 100%;

    position: absolute;
    bottom: 2rem;
    z-index: 2000;

    display: flex;
    justify-content: end;
}

#btn-saved-locations {
    color: green;
}

#btn-random-location {
    color: purple;
    margin-right: 0.5rem;
}
